@page
@model LoginShmogin.Web.Pages.AccountRecoveryModel
@{
}

<h2>Account recovery</h2>
<form method="POST">
    <div class="form-group">
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email">
    </div>
    <input class="btn btn-primary" type="submit" value="Recover" />
    <small class="text-success">@Model.Message</small>
</form>
