@page
@model LoginShmogin.Web.Pages.ResendEmailConfirmation
@{
    ViewData["Title"] = "Resend email confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>Enter your email</p>
<form method="post">
    <div class="form-group">
        <input class="form-control w-25" asp-for="Input.Email" />
        <span class="text-danger" asp-validation-for="Input.Email"></span>
    </div>
    <button type="submit" class="btn btn-primary">Confirm</button>
    <small class="text-success">@Model.Message</small>
    <div asp-validation-summary="ModelOnly"></div>
</form>
