@page
@model LoginShmogin.Web.Pages.ResetPasswordModel
@{
}

<h2>Reset password</h2>
<form method="POST">
    <div class="form-group">
        <label asp-for="Input.NewPassword"></label><br />
        <input asp-for="Input.NewPassword"><br />
        <small class="text-muted">At least 6 characters</small>
    </div>
    <div class="form-group">
        <label asp-for="Input.ConfirmPassword"></label><br />
        <input asp-for="Input.ConfirmPassword">
    </div>
    <input class="btn btn-primary" type="submit" value="Ok" />
    <input asp-for="Input.Token" type="hidden" />
    <input asp-for="Input.UserId" type="hidden" />
</form>
