@using LoginShmogin.Application.Interfaces;
@inject ISignInService SignInService
@inject ICurrentUserService CurrentUserService

<ul class="navbar-nav">
    @if (SignInService.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Profile" asp-page="/Index">Hello, @CurrentUserService.UserName!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Logout" asp-route-returnUrl="@Url.Page("/")">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/Login">Login</a>
        </li>
    }
</ul>
